:root {
  --on: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121417;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-form {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}

.login-form.activate {
  opacity: 1;
  transform: translateY(0);
}
